# Supabase Configuration
VITE_SUPABASE_URL="https://ukvjlglnatqqeskxrfav.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrdmpsZ2xuYXRxcWVza3hyZmF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM1NDYxOTIsImV4cCI6MjA3OTEyMjE5Mn0.pcmsGWCdG2WC3wzVRAGeg1VcNEuD9pCf8INtY6ofJ98"
